* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color:white;
    background: url("../assets/background.jpg") no-repeat fixed center/cover;
}

h1 {
    text-align:center;
    margin-top:1rem;
}


button {
    cursor: pointer;
    border: none;
    display: block;
    width: 20rem;
    max-width: 90%;
    padding: 1rem;
    margin: 1rem auto;
    background-color: lightblue;
}

img {
    border: 1px solid lightgrey;
    width:500px;
    max-width: 90%;
    object-fit: contain;
    margin: 50px auto auto;
    display: block;
    box-shadow: 0 0 10px black;
}

input {
    display: block;
    padding: 1rem;
    width: 20rem;
    max-width: 90%;
    margin: 1rem auto;
}