* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

body{
    background:lightcyan;
}

button {
    cursor: pointer;
    border: none;
    display: block;
    width: 20rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: lightblue;
}

img {
    border: 1px solid black;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
    margin-top: 50px;
    display: block;
    box-shadow: 0 0 10px black;
}

input {
    display: block;
    padding: 1rem;
    width: 20rem;
    margin: 1rem auto;
}